[submodule "checker-desktop"]
	path = checker-desktop
	url = https://github.com/YubiRepo/checker-desktop.git
[submodule "kds-desktop"]
	path = kds-desktop
	url = https://github.com/YubiRepo/kds-desktop.git
